.root {
    display: flex;
    flex-direction: row;
}

.leftBlock {
    display: flex;
    flex: 1;    
    justify-content: flex-end;
    padding: 2px;
}

.rightBlock {
    display: flex;
    flex: 1;    
    padding: 2px;
}

.galleryLeftBlock {
    width: 275px;
    overflow: hidden;
}

.galleryRightBlock {
    width: 275px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}






