.root {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orangered;
    padding: 8px 16px;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.cart {
    color: white;    
}